/vendor
/node_modules
/public/media
Homestead.yaml
.env
.idea
/public/sitemap.xml
.phpstorm.meta.php
_ide_helper.php
_ide_helper_models.php
composer.lock
desktop.ini
.phpintel
*.orig
storage/blade-extensions/
public/assets/cache/
public/js/builds/
public/css/builds/
public/src