body{
    background-color: #52525d;
    margin: 0;
	color: rgb(32, 32, 32);
    font-family: 'Raleway', sans-serif;
    font-weight: 100;
    font-size: 13px;
}

a {
    color: #636b6f;
}

main {

}

img {
    max-width: 100%;
}



.fluid {
	display: flex;
}

.fluid-vcenter {
	align-items: center;
}

.full-height {
    height: 100vh;
}

.fluid-center {
    align-items: center;
    display: flex;
    justify-content: center;
}

.fill {
	flex-grow: 1;
}

.link {
	cursor:pointer;
}

.link:hover {
	text-decoration: underline;
}

.width-inherit {
    width: inherit;
}

.fluid-cleft {
	justify-content: flex-start;
	text-align: left;
}

.fluid-full {
    width: 100%;
    height: 100%;
}

.fluid-stretch {
    align-items: stretch;
}

.dropdown-menu {
    border-radius: 0;
    box-shadow: 0 1px 6px rgba(0,0,0,.175);
}

.dropdown-menu .dropdown-item{
	display: block;
	padding: 8px 12px;
}

.dropdown-menu .dropdown-item:hover{

    background: #505061;
    color: white;
    text-decoration: none;
}

.dropdown-divider {
    border-bottom: 1px solid rgba(0,0,0,.15);
    margin: 5px 0;
}

.dropdown-subtitle {
    padding: 3px 12px;
    color: rgba(0, 0, 0, 0.7);
}
.form-control {
    border-radius: 0;
    box-shadow: none;
}


.btn {
	border-radius: 1px;
    border: none;
}

.btn-primary {
	background: #505061;
}

.btn-primary:hover {
	background: #7c7c97;
}


.action {
	cursor: pointer;
}
.action i {
	margin-right: 12px;
}

.btn-action-icon {
    font-size: 19px;
    text-align: center;
    opacity: 0.6;
    cursor: pointer;
    padding: 3px 6px;
}

.btn-action-icon:hover{
    opacity: 1.0;
}

.action {
	color: #db4c3f;
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and */
}

.popover.bottom>.arrow:after {
    border-bottom-color: #505061; 
}

.popover-title {
    background: #505061;
    color: white;
}

.popover {Opera 
    padding: 0;
    border: none;
}


/**
 * BOOTSTRAP: MODAL
 */
.modal-content {
    box-shadow: 0 1px 10px rgba(0,0,0,.4);
    border-radius: 0;
}
.modal-small .modal-dialog {
    max-width: 400px;
}

.modal-header {
    background: #505061;
    color: white;
    border: none;
}

.close {
    color: white;
    opacity: 0.7;
}

.close:focus, .close:hover {
    color: white;
    opacity: 0.8;
}

.modal-footer {
    border: none;
}

.modal-content {
    border: none;
}


.text-sm {
    font-size: 10px;
    opacity: 0.8;
}

.header-container-user {
    margin-left: 25px;
}

/*
.cropper-view-box {
    outline: 1px solid #505061;
    outline-color: #7c7c97;
}

.cropper-point {
    background-color: #505061;
}*/
.rotate-1 {
    transition-property: transform;
    transition-duration: 1s;
    animation-name: rotate; 
    animation-duration: 1s; 
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

@keyframes rotate {
    from {transform: rotate(0deg);}
    to {transform: rotate(360deg);}
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
}