export const env = {
	api: {
		url: 'https://full.domain.project.it',
	},
	oauth: {
		github: {
			client: {
				id: null,
				secret: null
			}
		},
		gitlab: {
			client: {
				id: null
				secret: null
			},
			redirect_uri: '/oauth/gitlab/token'
		}
	}
};
